* {
    font: 400 13px Roboto, Arial, sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#foo{
    display: -ms-flexbox; display: flex;
    -ms-flex-direction: column; flex-direction: column;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

#head{
    padding: 8px;
    background: #4285F4;
    color: white;
    display: -ms-flexbox; display: flex;
    -ms-flex-wrap: wrap; flex-wrap: wrap;
    -ms-flex: 1 0 auto;
    justify-content: space-between;
}

#status, #title_contain {
    -ms-flex: 1 0 auto;
}

#main {
    -ms-flex: 2 1 100%; flex: 2 1 100%;
    position: relative;
}

#title{
    font-weight: bold;
    font-size: larger;
}

#race_time{
}

#status {
    text-align: right;
}


#map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#riders {
    padding: 8px;
    position: absolute;
    top: 0;
    margin: 10px;
    box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.5);
    background: white;
    border-radius: 2px;
}

#riders table{
     border-collapse: collapse;
}

#riders .head>*{
    font-weight: bold;
}

#riders td{
    padding: 10px;
}

.rider {
    cursor: pointer;
}

.rider td{
    cursor: pointer;
}

.rider.selected {
    background: #4285F4;
    color: white;
}

#mobile_select {
    display: none;
}

@media screen and (max-width: 800px) {
    #mobile_select {
        display: flex;
        background: #4285F4;
        color: white;
        justify-content: space-around;
    }
    #mobile_select > * {
        border-bottom: 4px solid #4285F4;
        flex-basis: 8em;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }
    #mobile_select > .selected {
        border-bottom: 4px solid white;
    }

    .show_map #map{
        display: block;
    }
    .show_map #riders{
        display: none;
    }
    .show_riders #map{
        display: none;
    }
    .show_riders #riders{
        display: block;
    }
    #riders{
        position: static;
        box-shadow: none;
    }
    #riders>table{
        width: 100%
    }

}



/* Css loader pulse */
.l1, .l2, .l3 {
  display: inline-block;
  border-radius: 50%;
  width: 0.4em;
  height: 0.4em;
  margin: 0.15em 0.2em;
  animation-fill-mode: both;
  animation: load7 1.8s infinite ease-in-out;
}
.l1{ animation-delay: -0.32s;}
.l2{ animation-delay: -0.16s;}
.l3{ animation-delay: 0s;}
@keyframes load7 {
  0%, 80%, 100% { background: #4285F4; }
  40% { background: white; }
}



.rider-marker {
    padding: 4px;
    box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}
.rider-marker-pointer {
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-width: 5px;
    border-style: solid;
    width: 0;
    transform: rotate(45deg);
    left: 40%;
    top: -5px;
}
